body{
  position: relative;
  margin: 100px auto;
  max-width: 767px;
}

.profile{
  display: block;
  max-width: 275px;
  margin-bottom: 30px;
}

.tjpic{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}

.profiletext{
  display: block;
}

.name{
  color: rgba(0,0,0,0.8);
  font-size: 15px;
  font-family: -apple-system, 'BlinkMacSystemFont','SegoeUI','Roboto','Oxygen','Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.follow{
  display: inline;
  color: #1C9963;
  padding: 2px 10px;
  border: 1px solid #1C9963;
  border-radius: 20px;
  font-family: -apple-system, 'BlinkMacSystemFont','SegoeUI','Roboto','Oxygen','Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  font-size: 11px;
  margin-left: 10px;
}

.tagline{
  display: inline;
  color: rgba(0,0,0,0.44);
  margin: 2px 0 0 0;
  line-height: 1.4;
  font-size: 13px;
  font-family: -apple-system, 'BlinkMacSystemFont','SegoeUI','Roboto','Oxygen','Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

p{
  display: block;
  font-size: 18px;
  font-family: medium-content-sans-serif-font, 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: rgba(0,0,0,0.8);
}

h1{
  font-weight: 700;
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Arial', sans-serif;
}

h3{
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Arial', sans-serif;
  font-size: 28px;
}

h4{
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Arial', sans-serif;
  font-size: 22px;
}

a{
  font-weight: bold;
}

.apdex{
  font-weight: normal;
}

a:visited{
  color: #000;
}

.image{
  margin: auto;
}
